@model empresa.DatabaseFirts.HR_PAGO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HR_PAGO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COD_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_RUBRO_PAGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_RUBRO_PAGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESULTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESULTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_PAGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_PAGO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CODIGO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
